body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
}

header {
    padding: 10px 30px;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}

/* Меню */
.hidden-menu {
  display: block;
  position: fixed;
  list-style:none;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
  width: 350px;
  background-color: #2b343c;
  height: 100%;
  top: 0;
  left: -350px;
  transition: left .2s;
  z-index: 2;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}

.hidden-menu-ticker {
  display: none;
}

.btn-menu {
  color: #fff;
  background-color: #fff;
  padding: 2px;
  position: fixed;
  top: 5px;
  left: 5px;
  cursor: pointer;
  transition: left .23s;
  z-index: 3;
  width: 20px;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}

.btn-menu span {
  display: block;
  height: 2px;
  background-color: #2b343c;
  margin: 5px 0 0;
  transition: all .1s linear .23s;
  position: relative;
}

.btn-menu span.first {
  margin-top: 0;
}

.hidden-menu-ticker:checked ~ .btn-menu {
  left: 293px;
  background-color: #2b343c;
}

.hidden-menu-ticker:checked ~ .hidden-menu {
  left: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu span.first {
  -webkit-transform: rotate(45deg);
  top: 7px;
  background-color: #fff;
}
.hidden-menu-ticker:checked ~ .btn-menu span.second {
  opacity: 0;
}

.hidden-menu-ticker:checked ~ .btn-menu span.third {
  -webkit-transform: rotate(-45deg);
  top: -7px;
  background-color: #fff;
}

/* Конец меню */

footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .copyright {
    font-size: 14px;
    color: #333;
    text-align: center;
}
footer .copyright a {
    color: #444;
}
footer .copyright a:hover {
    color: #555;
}
footer .copyright:before {
    content: '©';
}
